@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "MagnelDisplay-Black";
  src:
    local("MagnelDisplay-Black"),
    url("./fonts/MagnelDisplay-Black.otf") format("opentype");
}


body {
  margin: 0;
  font-family: 'Cambria';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
